@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply font-roboto;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-7xl px-4;
  }
  .yellow-btn {
    @apply inline-flex items-center justify-center rounded-2xl bg-[#FFAE33] px-12 py-3 text-base font-bold text-black md:text-lg;
  }
  .pink-btn {
    @apply inline-flex items-center justify-center rounded-2xl bg-[#FFB0AE] px-12 py-3 text-base font-bold text-black md:text-lg;
  }
}
